.venv/
__pycache__/
*.pyc

sandbox_data/base_images/
sandbox_data/hyperv/
sandbox_data/iso/
sandbox_data/task_media/
sandbox_data/exports/
sandbox_data/snapshot_backups/

windows_host/logs/
reports/
tmp/mounted_artifact/
tmp/sample_iso_build/

samples/*
!samples/.gitkeep

artifacts/*
!artifacts/.gitkeep

reports/*
!reports/.gitkeep

tmp/*
!tmp/.gitkeep
!tmp/README.md
windows_host/third_party/*.zip
